# Docs for the Azure Static Web Apps Deploy action: https://github.com/Azure/static-web-apps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - smartcard-frontend

on:
  push:
    branches:
      - main
    paths:
      - 'smartcard-frontend/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
          cache-dependency-path: smartcard-frontend/package-lock.json

      - name: Check if package.json exists
        id: check_files
        uses: andstor/file-existence-action@v1
        with:
          files: 'smartcard-frontend/package.json'

      - name: Install dependencies and build
        if: steps.check_files.outputs.files_exists == 'true'
        run: |
          cd smartcard-frontend
          npm ci
          npm run build

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: smartcard-frontend/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_FRONTEND }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_FRONTEND }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_FRONTEND }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'smartcard-frontend'  # Replace with your frontend app name
          slot-name: 'Production'
          package: .